h1 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 4px;
  color: #234354;
}

table {
  text-align: center;
  table-layout: auto;
  border-collapse: collapse;
  /* width: 530px */
  width: 90%;
}

.subject {
  width: 50%;
}

.credit {
  width: 10%;
}

caption {
  padding: 0.5em;
  color: #FFFFFF;
  font-weight: bold;
  background: #234354;
}

input {
  text-align: center;
  width: 100%;
  font-size: 30px;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

table th,table td{
  border: solid 2px black;
}

table th {
  padding: 10px;
}

table td {
  padding: 3px 10px;
}
